
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './utils/mixins';

@import './components/links';
@import './components/buttons';
@import './components/modal-window';
@import './components/forms';
@import './components/carousel';


@import './layout/header';
@import './layout/hero-section';
@import './layout/advantages-section';
@import './layout/tradition-section';
@import './layout/chefs-section';
@import './layout/formats-section';
@import './layout/contact-section';
@import './layout/footer';



.section {
    padding: 48px 0;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}



