.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title::before,
.chefs-title::after {
    position: absolute;
    display: block;
    content: '';
    width: 352px;
    border: 2px solid var(--color-primery-light);
    bottom: 23px;
}

.chefs-title::before {
    left: 0;
}

.chefs-title::after {
    right: 0;
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chefs-list {
    display: flex;
    gap: 40px 30px;

    flex-wrap: wrap;
}

.chefs-item {
    flex-basis: calc((100% - 40px) / 2);
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-normal),
        -16px 16px 0 2px var(--color-secondary-dark);
}